@each $palette-color-prefix, $palette-color-variables in get-colors-palette($selects-colors-support-extra-colors-palette, $selects-colors-support-skip-colors-palette) {
    .#{$colors-class-prefix}-#{$palette-color-prefix} select,
    select.#{$colors-class-prefix}-#{$palette-color-prefix} {
        color: map_get($palette-color-variables, map_get($selects-colors-support-parser, color));

        &:focus {
            border-color: map_get($palette-color-variables, map_get($selects-colors-support-parser, focus-border-color));
        }

        &[multiple]:focus option:checked {
            @include include-select-focus-multiple-option-checked-background(map_get($palette-color-variables, map_get($selects-multiple-colors-support-parser, focus-option-checked-background)));
            color: map_get($palette-color-variables, map_get($selects-multiple-colors-support-parser, focus-option-checked-color));
        }
    }
}
