$select-colors-support-parser: (
    outline-color: null,
    border-color: null,
    background-color: null,
    arrow-color: null,
    color: color,
    focus-outline-color: null,
    focus-border-color: color,
    focus-background-color: null,
    focus-color: null,
    disabled-border-color: null,
    disabled-background-color: null,
    disabled-arrow-color: null,
    disabled-color: null,
    multiple-background-color: null,
    multiple-option-checked-background-color: null,
    multiple-option-checked-color: null,
    focus-multiple-option-checked-background-color: color,
    focus-multiple-option-checked-color: null
) !default;

$select-colors-support-extra-colors-palette: () !default;
$select-colors-support-skip-colors-palette: null !default;